.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea,
div.wpcf7 input[type="text"].not-name,
div.wpcf7 select {
  padding-right: 8px;
  background-image: none;
}
div.wpcf7 textarea {
  padding: 10px 8px 0 8px;
  height: size(72);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-position: calc(100% - 7px) center;
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  border: none;
  background-color: $rose-main;
  @include base-text;
  color: #ffffff;
  border-radius: size(19);
  text-align: center;
  width: 100%;
  padding: 4px size(38) 4px size(46);
  height: size(41);
  background-image: url("../iconsall/arrow-left-white.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: size(18);
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.curr-body-hidden {
  overflow: hidden;
}
.close-search {
  position: absolute;
  right: size(15);
  top: size(15);
  cursor: pointer;
  svg {
	width: size(20);
	height: size(20);
	fill: #ffffff;
  }
}


.pop-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-search {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.search-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: size(15);
}
.float-search {
  position: relative;
  width: 100%;
  max-height: unset;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  opacity: 0;
  padding: 40px;
  background-color: $black-main;
  &.show-float-search {
	opacity: 1;
	transform: translateY(0);
  }
}
.search-form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  input[type="search"] {
	flex-grow: 1;
	padding-right: 15px;
  }
  input[type="submit"] {
	width: 3rem;
	height: 3rem;
	background-image: url("../iconsall/search.png");
	background-color: $rose-main;
	background-position: center;
	background-repeat: no-repeat;
  }
}
