header {
  position: relative;
  padding: 10px 0;
  z-index: 12345;
  background-color: $black-main;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) 6% size(40) 5%;
  background-color: $black-main;
  width: auto;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
	margin-bottom: size(50);
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include base-text;
		color: #ffffff;
		font-style: normal;
		letter-spacing: normal;
		margin-bottom: 0.5rem;
		transition: text-shadow .5s;
		&:hover {
		  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		  transition: text-shadow .5s;
		}
	  }
	}
  }
}
.header-btn {
  display: block;
  margin: 0 8px;
  position: relative;

  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 19px;
	height: 19px;
	border: 1px solid $black-main;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black-main;
	font-size: 10px;
	background-color: #fff;
	border-radius: 50%;
  }

  svg, img {
	min-width: 25px;
	height: auto;
	fill: #ffffff;
  }

  &:last-child {
	margin-left: 0;
  }
}
.header-col-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-col-menus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#MainNav{
  margin-right: 1rem;
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: 0 10px;
	  a{
		@include base-text;
		text-align: center;
		color: #ffffff;
		transition: color .5s;
		&:hover {
		  color: $rose-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
.search-trigger {
  margin: 0 5px;
  cursor: pointer;
  img {
	min-width: size(22);
  }
}
//Footer
.footer-main {
  padding: size(80) 0;
  border-top: size(15) solid $rose-main;
  div.wpcf7 input[type="checkbox"] {
	width: 2rem;
	min-width: 2rem;
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"] {
	padding-right: size(18);
	background-image: none !important;
  }
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/arrow-left-black.png");
	color: #000000;
	background-color: $yellow-main;
  }
  .check-col {
	label {
	  margin-top: -1rem;
	  display: flex;
	  align-items: flex-start;
	  color: #000000;
	  font-size: size(16);
	  font-weight: 400;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(18);
	}
	.wpcf7-list-item {
	  margin: 0;
	}
  }
}
.foo-title {
  @include base-text;
  color: #000000;
  font-weight: 500;
  margin-bottom: size(15);
}
.foo-form-subtitle {
  color: #000000;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  margin-bottom: size(19);
}
.facebook-widget {
  iframe {
	width: 100%;
  }
}
footer {
  position: relative;
  border-top: 5px solid #46c8c8;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  display: flex;
	  color: #010101;
	  font-size: size(18);
	  line-height: size(20);
	  transition: color .5s;
	  &:hover {
		color: $rose-main;
		transition: color .5s;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: size(80);
  right: size(35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(58);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
