/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 24px;
  }
  .add-to-cart-custom, .buy-now-custom {
	@include base-title;
  }
}
@media (max-width: 1500px) {
  .cat-name-wrap, .cat-name-overlay {
	font-size: size(30);
	line-height: size(32);
  }
  header {
	.container {
	  max-width: 99%;
	}
  }
  .col-contacts {
	flex: 0 0 85%;
	max-width: 85%;
  }
  #MainNav{
	ul{
	  li{
		padding: 0 5px;
		a{
		  font-size: size(20);
		  line-height: size(18);
		}
	  }
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 88%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .contact-page-body {
	.form-yellow-wrap {
	  border-radius: 0 0 size(23) size(23);
	}
  }
  .contact-info-wrap {
	border-radius: size(23) size(23) 0 0;
  }
  .footer-main {
	padding-top: size(100);
  }
  #go-top {
	top: size(20);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .home-cats-link {
	min-height: size(200);
  }
  .cat-link-col {
	margin-top: 10px;
  }
  .single-chunk {
	padding: 0 10px 0 5px;
	margin-top: 10px;
	.cat-item-img:after {
	  content: '';
	  display: block;
	  padding-bottom: 27%;
	}
  }
  .cat-name-wrap {
	font-size: size(28);
	line-height: size(32);
  }
  .step-item {
	.base-title {
	  @include base-text;
	}
  }
  .entry-hidden-title {
	display: none;
  }
  .small-hidden-title {
	display: block;
  }
  .order-second {
	order: 2;
	margin-bottom: 2rem;
	margin-top: 1rem;
  }
  .order-third {
	order: 3;
  }
  .step-icon {
	width: size(150);
	height: size(150);
	margin-bottom: size(41);
  }
  .step-number {
	font-size: size(52);
	line-height: size(52);
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #MainNav, #MobNavBtn {
	display: none !important;
  }
  .home-offer-link {
	padding: size(15) 10%;
  }
  .offer-link-text {
	font-size: size(20);
	line-height: size(22);
  }
  .simple-big-col-cat {
	padding: 0 15px;
  }
  .row-page-cats .cat-big-col {
	margin-bottom: 0;
  }
  .row-page-cats {
	.simple-cat-col {
	  margin-bottom: 0;
	}
  }
  .cat-item-img {
	margin: 5px 0 !important;
	height: unset !important;
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 37% !important;
	}
  }
  .col-3-chunks {
	.cat-item-img {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	}
  }
  .single-chunk, .col-home-single {
	padding: 0 5px;
	margin: 0;
  }
  .step-icon {
	width: size(100);
	height: size(100);
	padding: size(25);
  }
  .step-number {
	font-size: size(42);
	line-height: size(42);
  }
  .slider-image-wrap {
	display: none;
  }
  .rev-pop-trigger {
	width: size(25);
	height: size(25);
  }
  .review-item {
	padding: size(70) 3% size(55) 3%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  #go-top {
	right: unset;
	top: size(40);
	left: 1rem;
  }
  .step-item {
	margin-bottom: 2rem !important;
  }
  .step-icon {
	width: size(150);
	height: size(150);
	padding: size(30);
  }
  .step-number {
	font-size: size(52);
	line-height: size(52);
  }
  .reviews-block {
	[dir="rtl"] .slick-prev {
	  right: -10px;
	}
	[dir="rtl"] .slick-next{
	  left: -10px;
	}
  }
  .question-title {
	@include base-text;
	padding: size(12) size(13) size(12) size(40);
  }
  .arrow-top {
	left: size(20);
	width: size(15);
	height: size(15);
  }
  .answer-body {
	padding: size(20) size(10);
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .header-logo-col {
	flex: 0 0 31;
	max-width: 31%;
  }
  .products-slider-wrap {
	padding: 0 2rem;
	[dir="rtl"] .slick-prev {
	  right: -1.5rem;
	}
	[dir="rtl"] .slick-next{
	  left: -1.5rem;
	}
  }
  .contact-icon-wrap {
	min-width: size(35);
	margin-left: size(15);
	img {
	  width: size(35);
	}
  }
  .contact-title {
	font-size: size(20);
	line-height: size(22);
  }
}
