$almoni-tzar: almoni-tzar, sans-serif;
$almoni: almoni, sans-serif;
$assistant: 'Assistant', sans-serif;
$heebo: 'heebo', sans-serif;
$glida: 'glida', sans-serif;



$font-family: $heebo;
$font-baze: 20px;
