@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";

body {
  font-family: 'heebo', sans-serif;
  text-align: right;
}
.home-main {
  @include back-img;
  padding: size(20) 0 size(180) 0;
}
.base-title {
  @include base-title;
  font-weight: 600;
  text-align: center;
  color: $black-main
}
.base-link {
  @include d-center;
  min-height: size(46);
  border-radius: size(23);
  background-position: 10px center;
  background-image: url("../iconsall/arrow-left-black.png");
  background-size: size(24);
  background-repeat: no-repeat;
  padding: 5px size(36) 5px size(80);
  @include base-title;
  color: #1b1b1a;
  background-color: $yellow-main;
  text-align: center;
  transition: background-position .5s;
  &:hover {
	color: #1b1b1a;
	background-position: left center;
	transition: background-position .5s;
  }
}
.home-about-text {
  h1, h2, h3, h4, h5, h6 {
	color: $rose-main;
	margin-bottom: size(30);
	font-family: $glida;
	font-weight: 900;
  }
  h1, h2 {
	@include giant-title;
  }
  h3 {
	font-size: size(55);
	line-height: size(60);
  }
  h4 {
	@include big-text;
  }
  h5 {
	font-size: size(40);
	line-height: size(45);
  }
  h6 {
	@include base-title;
  }
  p, li {
	color: #1b1b1a;
	@include base-text;
  }
  p, ul {
	margin-bottom: size(30);
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
}
.slider-content-output {
  p, li {
	color: #ffffff;
  }
}
.block-title {
  @include big-text;
  font-weight: 500;
  color: $rose-main;
  margin-bottom: size(15);
  text-align: center;
}
.giant-title {
  font-size: size(72);
  line-height: size(75);
  font-weight: 700;
  color: $rose-main;
  font-family: $glida;
  text-align: center;
}
.block-text {
  @include base-title;
  font-weight: 600;
  text-align: center;
  color: #000000;
  margin-bottom: size(30);
}
.black-back {
  background-color: $black-main;
  .block-text {
	color: #ffffff;
  }
}
.page-content-centered {
  margin-bottom: size(30);
  * {
	text-align: center;
  }
  h1, h2 {
	@include big-text;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	color: $rose-main;
  }
  p {
	@include base-title;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
  }
}
//Homevideo block
.home-video-block {
  position: relative;
  background-image: url("../img/home-video-back.png");
  @include back-img;
  padding-top: size(40);
  overflow: hidden;
  video {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	z-index: 2;
  }
}
.video-block-content-container {
  position: relative;
  z-index: 8;
}
.row-img-video {
  margin-bottom: size(130);
}
.home-offer-link {
  @include d-center;
  width: 100%;
  border-radius: size(57) size(57) 0 0;
  padding: size(28) 10%;
  background-color: $yellow-main;
  transition: transform .5s;
  &:hover {
	color: $black-main;
	transform: scale(0.9, 0.9);
	transition: transform .5s;
  }
  &.second-link {
	background-color: #ffffff;
  }
}
.offer-link-text {
  @include base-title;
  text-align: center;
  font-weight: 500;
  color: $black-main;
}
//Cats block on homepage
.cats-home-block {
  padding: size(70) 0 size(50) 0;
}
.cat-item-img {
  @include d-center;
  @include back-img;
  width: 100%;
}
.cat-name-wrap {
  @include base-title;
  font-weight: 500;
  text-align: center;
  background-color: $yellow-main;
  padding: 8px size(38);
  min-width: size(227);
  @include d-center;
  border-radius: size(25);
  color: #000000;
  transition: transform .5s;
  &:hover {
	color: #000000;
	transform: scale(0.9, 0.9);
	transition: transform .5s;
  }
}
.cat-name-overlay {
  @include base-title;
  font-weight: 500;
  text-align: center;
  color: #000000;
  &:hover {
	color: #000000;
  }
}
.col-3-chunks {
  display: flex;
  flex-wrap: wrap;
  .cat-item-img {
	flex: 0 0 calc(50% - 10px);
	max-width: calc(50% - 10px);
	margin: 0 5px;
	&:after {
	  display: block;
	  content: '';
	  padding-bottom: 63%;
	}
	&:first-child {
	  flex: 0 0 calc(100% - 5px);
	  max-width: calc(100% - 5px);
	  margin: 0 5px 10px 5px;
	  &:after {
		display: block;
		content: '';
		padding-bottom: 27%;
	  }
	}
	&:last-child {
	  margin: 0 10px 0 0;
	}
  }
}
.single-chunk, .col-3-chunks, .cat-link-col {
  padding: 0 5px;
}
.col-home-single {
  padding: 0 10px 0 5px;
  .cat-item-img:after {
	content: '';
	display: block;
	padding-bottom: 27%;
  }
}
.single-chunk {
  .cat-item-img {
	height: 100%;
  }
}
.home-cats-link {
  background-image: url("../img/cats-link.png");
  @include back-img;
  @include d-center;
  @include big-text;
  font-weight: 700;
  text-align: center;
  color: $black-main;
  transition: color .5s;
  height: 100%;
  width: 100%;
  &:hover {
	color: $rose-main;
	transition: color .5s;
  }
}
//Categories
.cats-page-body {
  padding: size(40) 0 size(140) 0;
  .cat-name-wrap {
	transition: opacity .5s;
  }
  .cat-item-img {
	padding: 10%;
	position: relative;
	&:hover {
	  .overlay-cat {
		opacity: 1;
		pointer-events: all;
		transition: opacity .5s;
	  }
	  .cat-name-wrap {
		transform: scale(1, 1);
		opacity: 0;
		transition: opacity .5s;
	  }
	}
  }
}
.overlay-cat {
  @include overlay;
  @include d-center;
  padding: 10%;
  background-color: rgba(250, 184, 48, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}
.row-page-cats {
  .cat-big-col {
	margin-bottom: 10px;
  }
}
.simple-cat-col {
  padding: 0 5px;
  margin-bottom: 10px;
  .cat-item-img {
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 63%;
	}
  }
}
.simple-big-col-cat {
  padding: 0 20px 0 15px;
}
.page-body {
  margin-top: -2px;
}
//Product card
.prod-content-overlay {
  @include overlay;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(to top, #fab82f 0%, #f59f2d 32%, rgba(234, 105, 40, 0) 100%);
  opacity: 0;
  pointer-events: none;
  padding: 0 size(24);
  transform: translateY(100%);
  transition: opacity, transform .5s;
}
.artist-image {
  position: relative;
  cursor: pointer;
  &:hover {
	.artist-card-overlay {
	  opacity: 0;
	  pointer-events: none;
	  transition: opacity .5s;
	}
	.artist-big-overlay {
	  opacity: 1;
	  pointer-events: all;
	  transition: opacity .5s;
	}
  }
}
.artist-card-overlay, .artist-big-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 size(24);
  height: 80%;
  flex-direction: column;
  transition: opacity .5s;
  background-image: linear-gradient(to top, #fab82f 0%, #f59f2d 32%, rgba(234, 105, 40, 0) 100%);
  .prod-card-title {
	margin-bottom: 1rem;
  }
}
.artist-big-overlay {
  opacity: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, #fab82f 0%, #f59f2d 32%, rgba(234, 105, 40, 0) 100%);
  .prod-card-title {
	margin-bottom: 10px;
  }
}
.prod-img-wrap {
  position: relative;
  &:hover {
	.prod-content-overlay {
	  opacity: 1;
	  pointer-events: all;
	  transform: translateY(0);
	  transition: opacity, transform .5s;
	}
  }
}
.card-prod-img {
  @include back-img;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 122%;
  }
  &:hover {
	.prod-content-overlay {
	  opacity: 1;
	  pointer-events: all;
	  transform: translateY(0);
	  transition: opacity, transform .5s;
	}
	.prod-arrow {
	  opacity: 0;
	}
  }
}
.prod-card-title {
  @include d-center;
  flex-direction: column;
  @include base-text;
  font-weight: 500;
  text-align: center;
  color: $black-main;
  transition: color .5s;
  &:hover {
	color: #ffffff;
	transition: color .5s;
  }
}
.prod-plus {
  width: size(52);
}
.card-product {
  .yith-wcwl-add-to-wishlist {
	position: absolute;
	left: size(15);
	top: size(20);
	z-index: 222;
	.fa-heart {
	  color: $rose-main;
	  font-size: size(41);
	  position: relative;
	  z-index: 9999;
	}
	.fa-heart-o {
	  font-size: size(41);
	  color: #ffffff;
	}
  }
}
//Shop
.shop-nav-wrap {
  @include d-center;
  .woocommerce-result-count {
	display: none;
  }
}
.woocommerce .woocommerce-ordering select {
  -webkit-appearance: none;
  border: none !important;
  background-color: #46c8c8;
  @include base-text;
  font-weight: 700;
  text-align: center;
  color: $black-main;
  min-height: size(54);
  padding: 5px size(25) 5px size(75);
  background-image: url("../iconsall/arrow-down.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: size(20);
}
.woocommerce-info::before {
  color: $rose-main;
}
.woocommerce-info {
  border-top-color: $rose-main;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #ffffff;
  color: $black-main;
}
.more-products-style {
  @include d-center;
  cursor: pointer;
  min-height: size(50);
  border-radius: size(25);
  background-position: 15px center;
  background-image: url("../iconsall/arrow-down.png");
  background-size: size(31);
  background-repeat: no-repeat;
  padding: 5px size(36) 5px size(60);
  font-size: size(30);
  line-height: size(32);
  color: #000000;
  background-color: $yellow-main;
  text-align: center;
  margin: size(20) 0 size(50) 0;
  transition: transform .5s;
  &:hover {
	color: #000000;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
  &.hide {
	display: none;
  }
}
//Offer page
.offer-page-content {
  * {
	text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $black-main;
	margin-bottom: size(17);
  }
  h1, h2 {
	@include big-text;
  }
  h3 {
	font-size: size(42);
	line-height: size(45);
  }
  h4 {
	@include base-title;
  }
  h5 {
	font-size: size(32);
	line-height: size(35);
  }
  h6 {
	font-size: size(28);
	line-height: size(30);
  }
  p, li {
	@include base-text;
	color: #010101;
  }
  p {
	margin-bottom: size(30);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
  }
}
.form-yellow-wrap {
  @include d-center;
  flex-direction: column;
  padding: size(41) 8% size(20) 8%;
  background-color: $yellow-main;
  border-radius: size(23);
}
.form-offer-title {
  color: $black-main;
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(35);
  text-align: center;
  margin-bottom: size(20);
}
.offer-page-body {
  padding: size(50) 0;
  background-image: url("../img/offer-page-back.png");
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
//Process
.step-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.step-icon {
  position: relative;
  @include d-center;
  border-radius: 50%;
  padding: size(39);
  width: size(206);
  height: size(206);
  box-shadow: -9px -5px 18px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  margin-bottom: size(41);
}
.step-number {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: $rose-main;
  font-size: size(82);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(82);
  text-align: center;
}
.process-block {
  padding: size(80) 0;
}
.black-back .process-block {
  .base-title {
	color: #ffffff;
  }
}
//Home offer
.home-offer-block {
  padding: size(72) 0;
  background-image: url("../img/offer-block-back.png");
  @include back-img;
}
.offer-block-col {
  @include d-center;
  flex-direction: column;
  .base-link {
	background-color: $rose-main;
	color: #ffffff;
	font-weight: 400;
	background-image: url("../iconsall/arrow-left-white.png");
	&:hover {
	  color: #ffffff;
	}
  }
}
//Slider
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: size(24);
  height: size(24);
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.base-slider-block {
  position: relative;
  @include d-center;
  padding: size(30) 0 size(80) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-white.png");
	right: 0;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left-white.png");
	right: 2rem;
  }
}
.slider-image-wrap {
  position: absolute;
  left: 0;
  top: size(20);
  flex: 0 0 45%;
  max-width: 45%;
  height: 100%;
  img {
	max-height: 100%;
  }
}
.slider-text-output {
  p, li {
	color: #ffffff;
  }
}
//Products slider
.glida-block-title {
  @include big-text;
  text-align: center;
  font-family: $glida;
  font-weight: 700;
  color: $rose-main;
  margin-bottom: size(45);
}
.products-slider-block {
  margin-top: -2px;
}
.products-slider-wrap {
  padding: 0 4rem;
  background-color: $yellow-main;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-black.png");
	right: -2.5rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left-black.png");
	left: -2.5rem;
  }
}
//Gallery on homepage
.home-gallery {
  padding: size(70) 0;
}
.col-3-chunks-gallery {
  .cat-item-img {
	&:after {
	  padding-bottom: 78%;
	}
	&:first-child {
	  &:after {
		padding-bottom: 32.5%;
	  }
	}
  }
}
.gallery-link {
  color: #ffffff;
  height: unset;
  background-image: url("../img/gallery-link.png");
  flex-grow: 1;
  margin-top: 10px;
  &:hover {
	color: #ffffff;
  }
}
.gallery-single-chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .gallery-img {
	height: unset;
	&:after {
	  display: block;
	  content: '';
	  padding-bottom: 102%;
	}
  }
}
//Contact page
.contact-page-body {
  padding: size(45) 0;
  @include back-img;
  background-image: url("../img/contact-back.png");
  .form-offer-title {
	color: $black-main;
  }
  .form-yellow-wrap {
	padding: size(30) 5%;
	border-radius: size(23) 0 0 size(23);
	justify-content: flex-start;
  }
  div.wpcf7 textarea {
	padding-right: size(35);
	background-image: url("../iconsall/form-textarea.png");
	background-position: calc(100% - 10px) 12px;
	background-size: size(20);
	height: size(146);
  }
}
.contact-info-wrap {
  padding: size(30);
  @include d-center;
  justify-content: flex-start;
  flex-direction: column;
  @include back-img;
  border-radius: 0 size(23) size(23) 0;
  background-image: url("../img/contact-back-part.png");
}
.contacts-list-block {
  width: 100%;
}
.contact-info-link {
  display: flex;
  align-items: center;
}
.contact-icon-wrap {
  min-width: size(55);
  margin-left: size(25);
  img {
	width: size(55);
  }
}
.contact-title {
  font-size: size(30);
  line-height: size(32);
  color: $black-main;
  font-weight: 500;
  transition: color .5s;
  &.mail-title {
	text-transform: uppercase;
  }
  &:hover {
	color: $rose-main;
	transition: color .5s;
  }
}
.contact-item {
  margin-bottom: size(20);
}
//Artists page
.artists-page-content {
  * {
	text-align: center;
  }
  h1, h2, h3 {
	color: $rose-main;
	margin-bottom: size(17);
  }
  h4, h5, h6 {
	color: #ffffff;
	margin-bottom: 10px;
  }
  h1, h2 {
	@include big-text;
  }
  h3 {
	font-size: size(42);
	line-height: size(45);
  }
  h4 {
	@include base-title;
  }
  h5 {
	font-size: size(32);
	line-height: size(35);
  }
  h6 {
	font-size: size(28);
	line-height: size(30);
  }
  p, li {
	@include base-text;
	color: #ffffff;
  }
  p {
	margin-bottom: size(30);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
  }
}
.be-artist-link {
  @include d-center;
  min-height: size(50);
  border-radius: size(25);
  background-color: $rose-main;
  color: #ffffff;
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  text-align: center;
  padding: size(10) size(28);
  margin-bottom: 14px;
  transition: transform .5s;
  &:hover {
	color: #ffffff;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.load-more-artists {
  &.hide {
	display: none !important;
  }
}
.artist-link {
  min-height: size(33);
  border-radius: size(17);
  padding: 4px size(35) 4px size(58);
  background-color: #ffffff;
  font-weight: 400;
  font-size: size(24);
  line-height: size(26);
  color: $black-main;
  background-image: url("../iconsall/arrow-left-black.png");
  background-size: size(18);
  margin-bottom: size(30);
}
.small-text {
  font-size: size(18);
  line-height: size(20);
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
  color: $black-main;
}
//Product page
.product-page-body {
  padding-bottom: 2rem;
  .wp-post-image {
	width: 100%;
  }
  .product_title {
	color: $rose-main;
	@include base-title;
	font-weight: 600;
	font-style: normal;
	letter-spacing: normal;
	margin-bottom: 10px;
  }
  .product_meta {
	display: none;
  }
  .artist-title {
	color: #ffffff;
	font-size: size(30);
	line-height: size(32);
	margin-bottom: size(30);
	font-weight: 500;
  }
  .yith-wcwl-add-to-wishlist {
	position: absolute;
	top: size(26);
	left: size(26);
	.fa-heart {
	  color: $rose-main;
	  font-size: size(41);
	  position: relative;
	  z-index: 9999;
	}
	.fa-heart-o {
	  font-size: size(41);
	  color: #ffffff;
	}
  }
}

//Reviews
.review-slide {
  padding: 2rem 5px;
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: size(23);
  border: 4px solid $yellow-main;
  background-color: #ffffff;
  padding: size(70) 10% size(55) 10%;
  margin: 0 1rem;
}
.quote {
  position: absolute;
  z-index: 90;
  width: size(73);
}
.quote-top {
  top: -1.5rem;
  right: -1rem;
}
.quote-bottom {
  bottom: -1.5rem;
  left: -1rem;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rev-pop-trigger {
  position: absolute;
  top: size(25);
  left: size(25);
  width: size(47);
  height: size(47);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("../iconsall/plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.review-prev {
  @include base-text;
  color: #010101;
  text-align: center;
  margin-bottom: size(30);
}
.review-title {
  @include base-title;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin-bottom: size(30);
}
.reviews-block {
  margin: size(40) 0;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-black.png");
	right: -2.5rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left-black.png");
	left: -2.5rem;
  }
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(20);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(23);
  background-color: #ffffff;
  border: 4px solid $yellow-main;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $rose-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Faq
.faq {
  padding-top: size(70);
  padding-bottom: size(70);
  .question-header {
	border: none !important;
  }
  .card {
	border: none !important;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: size(15);
  }
}
.question-title {
  display: flex;
  align-items: center;
  @include base-title;
  color: #ffffff;
  text-align: right;
  border: none !important;
  border-radius: size(23);
  background-color: $rose-main;
  transition: background-color .5s;
  padding: size(12) size(23) size(12) size(80);
  min-height: size(63);
  width: 100%;
  &:hover {
	color: #ffffff;
  }
}
.answer-body {
  background-color: transparent;
  padding: size(30) size(40) size(30) 10%;
}
.arrow-top {
  position: absolute;
  left: size(30);
  width: size(31);
  height: size(31);
  background-image: url("../iconsall/faq-arrow-down.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.arrow-bottom {
  background-image: url("../iconsall/faq-arrow-top.png");
}
.active-faq {
  background-color: $yellow-main !important;
  transition: background-color .5s;
}
.faq-content-centered {
  margin-bottom: size(30);
  * {
	text-align: center;
  }
  h1, h2 {
	@include big-text;
	color: $rose-main;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  }
  h3, h4, h5, h6 {
	color: #000000;
  }
  h3 {
	@include base-title;
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h6 {
	font-size: size(25);
	line-height: size(28);
  }
  p {
	@include base-text;
	text-align: center;
	color: #000000;
  }
}
.faq-block-title {
  @include base-title;
  font-weight: 400;
  color: #000000;
  margin-bottom: size(22);
}
.faq-block-item {
  margin-bottom: size(60);
}
//Product
.share-text {
  color: #ffffff;
  font-size: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(36);
}
.share-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.social-links {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity .5s;
  &.show {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.share-link {
  @include d-center;
  width: size(34);
  height: size(34);
  border-radius: 50%;
  margin: 0 9px;
  background-color: $yellow-main;
  padding: 5px;
  img {
	width: size(21);
  }
  &.share-link-facebook {
	img {
	  width: size(12);
	}
  }
  .fab {
	font-size: size(20);
	line-height: size(22);
	color: #000000;
  }
}
.share-trigger {
  cursor: pointer;
}
.share-archive {
  min-height: size(54);
  border-radius: size(25);
  width: auto;
  padding: 5px size(20);
  span {
	color: #000000;
	font-size: size(30);
	font-weight: 600;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(32);
	text-align: center;
  }
  img {
	margin-left: size(20);
  }
}
.input-count {
  height: size(46);
  border-radius: size(23);
  background-color: #ffffff;
  margin-bottom: size(20);
  padding: 8px size(22);
  width: 100%;
  &::placeholder {
	color: #000000;
	@include base-text;
	font-weight: 600;
	font-style: normal;
	letter-spacing: normal;
  }
}
.add-to-cart-custom, .buy-now-style {
  @include d-center;
  font-size: size(30);
  line-height: size(32);
  font-weight: 400;
  min-height: size(46);
  padding: 5px 10px;
  border-radius: size(23);
  flex: 0 0 calc(50% - 5px);
  max-width: calc(50% - 5px);
}
.add-to-cart-custom {
  background-color: $rose-main;
  color: #ffffff;
  margin-left: 5px;
  border: none !important;
  &:hover {
	color: #ffffff;
  }
}
.buy-now-style {
  background-color: $yellow-main;
  color: #000000;
  margin-right: 5px;
  &:hover {
	color: #000000;
  }
}
.small-hidden-title {
  display: none;
}
.buttons-wrapper-product {
  display: flex;
  align-items: stretch;
}
.price-former-title {
  color: #ffffff;
  font-size: size(24);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  margin-bottom: 10px;
}
.final-price-title {
  color: #ffffff;
  @include base-title;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.price-final-sale {
  font-weight: 300;
  text-decoration: line-through;
}
.woocommerce .quantity .qty {
  opacity: 0;
  pointer-events: none;
}
//Gallery page
.gallery-body-output {
  display: flex;
  flex-direction: column;
}
.page-home-gallery {
  display: none;
  &.show {
	display: block;
  }
}
.home-gallery-item {
  position: relative;
  display: flex;
  padding: 2px;
}
.gallery-image {
  display: flex;
  width: 100%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 73%;
  }
}

@import "responsive";
